
#divDraggable{
    height: 100px;
    background-color: white;
    margin-bottom: 10px;
}
.draggable,#draggable {
    width: 80px;
    height: 80px;
    /*padding: 0.5em;*/
    float: left;
    margin: 0px 10px 10px 0px;
    background-color: transparent;
    padding: 0px;
    color: black;
    cursor: pointer;
}
.draggable img{
    position: absolute;
    width: 100%;
    z-index: -1;
}
.draggable p{
   text-align: center;
    display: flow-root;
}
.draggable .desc{
    display: none;
}

#droppable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    float: left;
    margin: 10px;
}

.ui-widget-content {
    z-index: 2;
}
.carousel-item{
    text-align: center;
    margin: auto;
}


/* carousel  Button outside */

.carousel-inner img {
    margin: auto;
    width: 90%;
}


.carousel {
    margin: 1.5rem;
}
.carousel-inner {
    height: auto;
}
.carousel-item{
    text-align: center;
}
.carousel-control-prev {
    margin-left: -100px;
}

.carousel-control-next {
    margin-right: -100px;
}

