

.draggable {
    width: 100px;
    height: 100px;
    float:left;
    background-color: #2196F3;
    color: white;
    padding:0px;
    margin: 0px;
    z-index: 20;
    position: absolute;
    /*-webkit-transform: translate(0px, 0px);*/
    /*transform: translate(0px, 0px);*/
}
.dropzone {

    border: dashed 4px transparent;
    z-index: 100;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    /*background-color: #000;*/
    color: #FFF;
    border-color: #fff;
    border-style: solid;
}


/* carousel  Button outside */

.carousel-inner img {
    margin: auto;
    width: 100%;
}


.carousel {
    margin: 1.5rem;
}
.carousel-inner {
    height: auto;
}
.carousel-item{
    text-align: center;
}
.carousel-control-prev {
    margin-left: -100px;
}

.carousel-control-next {
    margin-right: -100px;
}

