

.draggable {
    width: 100px;
    height: 100px;
    float:left;
    background-color: #2196F3;
    color: white;
    padding:10px;
    margin: 10px;
    z-index: 20;
    position: absolute;
}
.dropzone {

    border: dashed 4px transparent;
    z-index: 100;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    /*background-color: #000;*/
    color: #FFF;
    border-color: #fff;
    border-style: solid;
}

